<h1><%= @trip.name %></h1>
<p><% @trip.destinations.each {|d| d.name} %></p>

<%= link_to "edit trip.", edit_user_trip_path(@current_user, @trip) %>
<%= link_to "delete trip.", @trip, method: :delete %>
