<h1 id='user-show-header'>My profile.</h1><br>


<div class="wrapper">
  <br>
  <div id="user-buttons">
    <%= link_to "my destinations.", "#", class:"button my-destinations",  :'data-id'=> @current_user.id %>
    <%= link_to "Create a new trip.", new_user_trip_path(@current_user), class:"button create_button" %>
  </div>
  <br>
  <br>
  <div id="user-content">
    <%= render "content" %>
  </div>
</div>
