<h1 id='user-show-header'>My trips.</h1><br>


<div class="wrapper">
  <%= link_to "Create a new trip.", new_user_trip_path(@user), class:"button create_button", id:"user-show-button" %><br>
  <%= conditional_content %>
</div>
