<div class="homepage_header">
  <p class="header_top">get out and travel.<br>
    <span class="header_bottom">go
      <span id="everywhere">everywhere.</span>
    </span>
  </p><br>
  <%= link_to "sign up", new_user_path %>
</div>
