<h1>Destinations.</h1> <br>

<%= link_to "New Destination", new_destination_path %>

<p>
  <% @destinations.each do |d| %>
    <div><%= link_to d.name, destination_path(d) %><br>
      <%= d.image_url %><br>
    </div>
  <% end %>
</p>
