<h1>Destinations.</h1> <br>

<div class="wrapper">
  <%= link_to "New Destination", new_destination_path, class:"button create_button" %><br>
  <section class="destination-container">
    <% @destinations.each do |d| %>
      <div class="destination_size div_card <%= random_class %>">
        <div class="destination_name"><%= link_to d.name, destination_path(d) %></div><br>
      </div>
    <% end %>
  </section>
  <button id="sort"> Sort Me </button>
</div>
