// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h1 {
  font-weight: normal;
  font-size: 3em;
  position: relative;
  top: 40px;
  left: 2.75%;
}

// SHOW PAGE STYLES
h1.header-box {
  top: 50%;
  font-size: 4em;
  padding: 5px 40px;
  display: inline-block;
  color: #000;
  background-color: #fff;
  position: absolute;
  margin: auto;

}

#header-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;

}

.wrapper {
  position: absolute;
  top: 325px;
  margin: auto;
}

// DESTINATION INFO

.dest-info {
  display: inline-block;
  float:left;
  width: 40%;
}

.location {
  font-size: 2em;
}

.action-buttons a, .comment .action-buttons {
  color: #fff;
  text-decoration: none;
  background-color: #000;
  padding: 3px 18px;
  margin: 5px;
  display: inline-block;
}

// COMMENTS

.comments {
  display: inline-block;
  float:right;
  width: 40%;
}

.comment p{
  background-color:#E6E7E8;
  border: 20px solid #E6E7E8;
  margin: 0;
}

.comment-links {
  text-decoration: none;
  color: #B1B3B6;
  text-align: right;
  padding: 5px;
  font-size: .75em;
}



// INDIVIDUAL DIV STYLES -- INDEX
.destination_size {
  width: 30%;
}
.destination_name {
  width: 100%;
  height: 20%;
  background-color: #E6E7E8;
  position: absolute;
  bottom: 0;
}

.destination_name a {
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  text-align: center;
}
