// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.homepage-banner-0 {
  background-image: url('0.jpg');
  background-size: cover;
}
.homepage-banner-1 {
  background-image: url('1.jpg');
  background-size: cover;
}

.homepage-banner-2 {
  background-image: url('2.jpg');
  background-size: cover;
}

.homepage-banner-3 {
  background-image: url('3.jpg');
  background-size: cover;
}

.homepage-banner-4 {
  background-image: url('4.jpg');
  background-size: cover;
}

.homepage-banner-5 {
  background-image: url('5.jpg');
  background-size: cover;
}

.homepage-banner-6 {
  background-image: url('6.jpg');
  background-size: cover;
}

.homepage-banner-7 {
  background-image: url('7.jpg');
  background-size: cover;
}
