// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url(homepage.png);
  background-size: cover;
}


div.homepage_header {
  position: absolute;
  top: 40%;
  left: 30%;
}

.header_top {
  text-align: center;
  font-size: 1em;
  color: white;
}

.header_bottom {
  text-align: center;
  font-size: 4em;
}

.homepage_header a {
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 3px 18px;
  position: absolute;
  left: 40%;
}

#everywhere {
  font-weight: bold;
}
