// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url('/assets/images/homepage.png');
  background-size: cover;
}

div.homepage_header {
  position: absolute;
  top: 40%;
  left: 30%;
}

.header_top {
  text-align: center;
  font-size: 1em;
}

.header_bottom {
  text-align: center;
  font-size: 4em;
}

#everywhere {
  font-weight: bold;
}
